In [1]:
import pandas as pd

# Step 1: Define student data
girls = [
    ("Evelyn", 17, 5.5, 80), ("Jessica", 16, 6.0, 85), ("Somto", 17, 5.4, 70), ("Edith", 18, 5.9, 60),
    ("Liza", 16, 5.6, 76), ("Madonna", 18, 5.5, 66), ("Waje", 17, 6.1, 87), ("Tola", 20, 6.0, 95),
    ("Aisha", 19, 5.7, 50), ("Latifa", 17, 5.5, 49)
]

boys = [
    ("Chinedu", 19, 5.7, 74), ("Liam", 16, 5.9, 87), ("Wale", 18, 5.8, 75), ("Gbenga", 17, 6.1, 68),
    ("Abiola", 20, 5.9, 66), ("Kola", 19, 5.5, 78), ("Kunle", 16, 6.1, 87), ("George", 18, 5.4, 98),
    ("Thomas", 17, 5.8, 54), ("Wesley", 19, 5.7, 60)
]

# Step 2: Combine data
students = girls + boys

# Step 3: Create DataFrame
df = pd.DataFrame(students, columns=["Name", "Age", "Height", "Score"])

# Step 4: Display table
print(df)

"""
Algorithm:
1. Define separate lists for girls and boys containing tuples with (Name, Age, Height, Score).
2. Merge both lists into a single list called 'students'.
3. Use pandas to create a DataFrame from the 'students' list.
4. Display the DataFrame in a tabular format.
"""

       Name  Age  Height  Score
0    Evelyn   17     5.5     80
1   Jessica   16     6.0     85
2     Somto   17     5.4     70
3     Edith   18     5.9     60
4      Liza   16     5.6     76
5   Madonna   18     5.5     66
6      Waje   17     6.1     87
7      Tola   20     6.0     95
8     Aisha   19     5.7     50
9    Latifa   17     5.5     49
10  Chinedu   19     5.7     74
11     Liam   16     5.9     87
12     Wale   18     5.8     75
13   Gbenga   17     6.1     68
14   Abiola   20     5.9     66
15     Kola   19     5.5     78
16    Kunle   16     6.1     87
17   George   18     5.4     98
18   Thomas   17     5.8     54
19   Wesley   19     5.7     60

"\nAlgorithm:\n1. Define separate lists for girls and boys containing tuples with (Name, Age, Height, Score).\n2. Merge both lists into a single list called 'students'.\n3. Use pandas to create a DataFrame from the 'students' list.\n4. Display the DataFrame in a tabular format.\n"